* {
    font-family: 'Verdana', sans-serif;
}

body {
    background-color: #008080;
    padding: 1rem;
}

header {
    border-radius: 1rem;
    background-color: #fff;
    padding: 1rem;
}

.contenedor-principal {
    margin: 1rem auto;
}

.contenedor-principal .contenedor-video {
    border-radius: 1rem;
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
}
